@model GuildCars.Data.EF.Contact
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>

<div class="col-md-6">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>
            Name:    @Html.TextBoxFor(c => c.ContactName, new { @class = "form-control", autofocus = "autofocus" })
            <span class="text-danger">@Html.ValidationMessageFor(c => c.ContactName)</span>
        </p>
        <p>
            Email:   @Html.TextBoxFor(c => c.ContactEmail, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(c => c.ContactEmail)</span>
        </p>
        <p>
            Phone:   @Html.TextBoxFor(c => c.ContactPhone, new { @class = "form-control"})
            <span class="text-danger">@Html.ValidationMessageFor(c => c.ContactPhone)</span>
        </p>
        <p>
            Message: @Html.TextAreaFor(c => c.ContactMessage, new { @class = "form-control" })
            <span class="text-danger">@Html.ValidationMessageFor(c => c.ContactMessage)</span>
        </p>
        
        <button class="btn-success btn-lg">Submit</button>
    }
</div>
<div class="col-md-6">
    <img src="~/Images/Map.png" />
</div>