@model Exercises.Models.Data.State

@{
    ViewBag.Title = "AddState";
}


<div class="row">
    <div class="col-xs-12">
        <h3>Add State</h3>
        @Html.ActionLink("Return to List", "States", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
        <div class="form-group">
            <label>State</label>
            @Html.TextBoxFor(m => m.StateName, new { @class = "form-control", placeholder = "State", pattern = @"([A-Z][a-z]+)(\s[A-Z][a-z]+)?", title ="(1-2 words, Capitalized)" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.StateName)</span>
            <br />
            <label>State Abbreviation</label>
            @Html.TextBoxFor(m => m.StateAbbreviation, new { @class = "form-control", placeholder = "SA", pattern = "[A-Z]{2}", title = "2 character State Abbreviation (MN)" })
            <span class="text-danger">@Html.ValidationMessageFor(m => m.StateAbbreviation)</span>
        </div>
            <button type="submit" class="btn btn-sm btn-primary">Save</button>
        }
    </div>
</div>
